# File: .env

SUPABASE_URL = "https://whatevermanwhatever.supabase.co"
SUPABASE_KEY = "For security, this placeholder text is put here."
# ^^^ This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies.
# That's what she said.