name: Firebase App Distribution

on:
  push:
    branches:
      - feature/firebase-integration # atau branch utama Anda

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest # atau macos-latest untuk iOS

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.4' # Tentukan versi Flutter Anda

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Build Android App Bundle
        run: flutter build apk --release # atau flutter build appbundle --release

      # Install Firebase CLI
      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      # Authenticate Firebase using the service account key stored in GitHub Secrets
      - name: Authenticate Firebase
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}" > firebase-service-account.json
          firebase use --add
        env:
          GOOGLE_APPLICATION_CREDENTIALS: firebase-service-account.json

      - name: Debugging Firebase Service Account Key
        run: cat firebase-service-account.json

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_ANDROID_APP_ID }}          # App ID Android dari Firebase, format 1:XXXX:android:XXXX
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }} # Firebase Service Account Key dari GitHub Secrets
          file: build/app/outputs/flutter-apk/app-release.apk    # Pastikan path ini benar sesuai output build Anda
          groups: PBL-Jawara # Daftar grup tester yang menerima rilis
          releaseNotes: ${{ steps.get_commit.outputs.message }}   # Menggunakan pesan commit sebagai release notes